CORS_ORIGIN=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
DOCKER_SOCKET_PATH=
GEMINI_MODEL=
JWT_EXPIRATION=
JWT_SECRET=
LOG_LEVEL=
NUXT_PUBLIC_API_BASE=
NUXT_PUBLIC_DEMO_MODE=
REDIS_HOST=
REDIS_PORT=
SANDBOX_TYPE=
TUTOR_KEY_ENCRYPTION_SECRET=